<article class="d-flex align-items-center justify-content-between border-bottom py-2">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkDefault">
        <label class="form-check-label" for="checkDefault">
            Tarea #1
        </label>
    </div>
    <div>
        <button class="btn btn-outline-secondary btn-sm me-1">Editar</button>
        <button class="btn btn-outline-danger btn-sm">Eliminar</button>
    </div>
</article>
<article class="d-flex align-items-center justify-content-between border-bottom py-2">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkDefault">
        <label class="form-check-label" for="checkDefault">
            Tarea #2
        </label>
    </div>
    <div>
        <button class="btn btn-outline-secondary btn-sm me-1">Editar</button>
        <button class="btn btn-outline-danger btn-sm">Eliminar</button>
    </div>
</article>
<article class="d-flex align-items-center justify-content-between border-bottom py-2">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkDefault">
        <label class="form-check-label" for="checkDefault">
            Tarea #3
        </label>
    </div>
    <div>
        <button class="btn btn-outline-secondary btn-sm me-1">Editar</button>
        <button class="btn btn-outline-danger btn-sm">Eliminar</button>
    </div>
</article>
<article class="d-flex align-items-center justify-content-between border-bottom py-2">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkDefault">
        <label class="form-check-label" for="checkDefault">
            Tarea #4
        </label>
    </div>
    <div>
        <button class="btn btn-outline-secondary btn-sm me-1">Editar</button>
        <button class="btn btn-outline-danger btn-sm">Eliminar</button>
    </div>
</article>
